*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", "Arial",
    sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 24px;
  font-weight: 300;
  color: #444;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  padding-top: 48px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 24px;
}

p {
  margin: 12px 0;
}

a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #000;
}

p.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

p.icons a {
  padding: 0 12px;
}

h1,
p {
  text-align: center;
}

svg {
  width: 48px;
  height: 48px;
  fill: currentColor;
}

@media screen and (min-width: 700px) {
  main {
    padding-top: 240px;
  }
}
