<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{site.title}}</title>
    <meta name="description" content="Pat Sier's personal website" />
    <meta name="author" content="{{ site.author }}" />

    <link href="favicon.ico" rel="shortcut icon" />
    <style>
      {% include style.css %}
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80755093-1"></script>
    <script>
      if (!(navigator.doNotTrack === "1" || window.doNotTrack == "1")) {
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());
          gtag('config', 'UA-80755093-1', { 'anonymize_ip': true });
      }
    </script>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
