<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{site.title}}</title>
    <meta name="description" content="Pat Sier's personal website" />
    <meta name="author" content="{{ site.author }}" />

    <link href="favicon.ico" rel="shortcut icon" />
    <style>
      {% include style.css %}
    </style>
    <script
      defer
      data-domain="patsier.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
